################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/v1.0.0/bin/Debug
/v1.0.0/obj/Debug
